.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

form input:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
}

.todo-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.todo-item span i {
  margin-right: 15px;
  cursor: pointer;
}
